{% extends 'base.html' %}

{% block header %}
    <div class="col-11 ">
        <div class="row justify-content-center">
            <h2>{% block title %}Edit comment{% endblock %}</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row p-1">
        <div class="col-2">
            <div class="row">
                <h5><a href="/stat/user/{{ post.author.id }}" class="text-white">{{ post.author.username }}</a></h5>
            </div>
            <div class="row"><small><i>Posted on</i></small></div>
            <div class="row"><small><i> {{ post.create_date }} </i></small></div>
            {% if post.modification %}
                <div class="row mt-1"><small><i>Last modified on</i></small></div>
                <div class="row"><small><i> {{ post.modified }} </i></small></div>
            {% endif %}
        </div>
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-8"><h4>{{ post.title }}</h4></div>
            </div>
            <hr/>
            <div class="row">{{ post.body }}</div>
            {% if post.comment_count > 0 %}
                <hr/>
                <div>
                    <h6>Comments:</h6>
                    {% for c in post.comment_set.all %}
                        {% if c.id != comment.id %}
                            <hr/>
                            <div class="row small">{{ c.body }}</div>
                            <br/>
                            <div class="row">
                                <div class="col-8">
                                    <small><i>Posted on {{ c.create_date }}
                                        by {{ c.author.username }}</i></small>
                                    <br/>
                                    {% if c.modification %}
                                        <small><i>Last modified on {{ c.modified }}</i></small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <hr/>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
                <div class="row justify-content-end">
                    <label for="body"><b>Comment</b></label>
                </div>
            </div>
            <div class="col-10">
                <textarea name="body" class="form-control" id="body" rows="5"
                          placeholder="Enter post body">{{ comment.body }}</textarea>
            </div>
        </div>
        <div class="row align-items-center mt-1">
            <div class="col-2"></div>
            <div class="col-10">
                <input type="submit" class="btn btn-warning btn-sm" value="save">
            </div>
        </div>
    </form>
{% endblock %}