{% load static %}
<!doctype html>
<title>{% block title %}{% endblock %} - Forum</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<body class="bg-primary">
<div class="container p-2">
    <div class="row align-items-center p-1">
        {% if not user is None %}
            <div class="col-8">
                <h6>
                    <i>
                        {% if language == 'pl' %}Witaj{% else %}Hello{% endif %},
                        <a href="/stat/user/{{ user.id }}" class="text-white">
                            {{ user.username }}</a>!
                    </i>
                </h6>
            </div>
            <div class="col-4">
                <div class="row justify-content-end">
                    <a href="/set/pl" class="mr-1"><img src="{% static 'pl.jpg' %}" alt=""></a>
                    <a href="/set/en" class="mr-1"><img src="{% static 'en.jpg' %}" alt=""></a>
                    <a class="btn btn-outline-primary btn-sm" href="/logout/" role="button">
                        {% if language == 'pl' %}wyloguj{% else %}log out{% endif %}
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col-8"></div>
            <div class="col-4">
                <div class="row justify-content-end">
                    <a href="/set/pl" class="mr-1"><img src="{% static 'pl.jpg' %}" alt=""></a>
                    <a href="/set/en" class="mr-1"><img src="{% static 'en.jpg' %}" alt=""></a>
                    <a href="/"></a>
                    <a class="btn btn-primary btn-sm mr-1" href="/register/"
                       role="button">{% if language == 'pl' %}zarejestruj{% else %}register{% endif %}</a>
                    <a class="btn btn-outline-primary btn-sm" href="/login/" role="button">
                        {% if language == 'pl' %}zaloguj{% else %}log in{% endif %}
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row bg-secondary justify-content-center">
        <a href="/"><h1>Forum</h1></a>
    </div>
    <br>
    <div class="row bg-dark align-items-center mb-3">
        {% block header %}{% endblock %}
    </div>
    {% for message in error_messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    <div class="row bg-secondary align-items-center p-1 mt-3">
        <div class="col-10"></div>
        <div class="col-2">
            <div class="row justify-content-end pt-1 pb-1">
                <a class="btn btn-outline-warning btn-sm" href="/stat/general/"
                   role="button">{% if language == 'pl' %}statystyki{% else %}statistics{% endif %}</a>
            </div>
        </div>
    </div>
</div>
</body>
