{% extends 'base.html' %}

{% block header %}
    <div class="col-11">
        <div class="row justify-content-center">
            <h2>{% block title %}User <small class="quote">{{ stats_owner.username }}</small> statistics{% endblock %}
            </h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <table class="container mt-3">
        <tr>
            <td class="td-25"></td>
            <td><strong>Joined:</strong></td>
            <td class="td-right">{{ stats_owner.create_date }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="td-25" rowspan="2"><h3>Posts</h3></td>
            <td><strong>Number of posts:</strong></td>
            <td class="td-right">{{ posts_count }}</td>
        </tr>
        <tr>
            <td><strong>Posts per day:</strong></td>
            <td class="td-right">{{ posts_per_day }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="td-25" rowspan="2"><h3>Words</h3></td>
            <td><strong>Number of words:</strong></td>
            <td class="td-right">{{ words_count }}</td>
        </tr>
        <tr>
            <td><strong>Words per post:</strong></td>
            <td class="td-right">{{ words_per_post }}</td>
        </tr>
        <tr>
            <td class="td-25"></td>
            <td><strong>Words per day:</strong></td>
            <td class="td-right">{{ words_per_day }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="td-25" rowspan="2"><h3>Characters</h3></td>
            <td><strong>Number of characters:</strong></td>
            <td class="td-right">{{ chars_count }}</td>
        </tr>
        <tr>
            <td><strong>Characters per post:</strong></td>
            <td class="td-right">{{ chars_per_post }}</td>
        </tr>
        <tr>
            <td class="td-25"></td>
            <td><strong>Characters per day:</strong></td>
            <td class="td-right">{{ chars_per_day }}</td>
        </tr>
    </table>
{% endblock %}


