{% extends 'base.html' %}

{% block header %}
    <div class="col-11">
        <div class="row justify-content-center">
            <h2>{% block title %}{% if language == 'pl' %}Statystyki użytkownika{% else %}User{% endif %}{% endblock %}
                <small class="quote">{{ stats_owner.username }}</small>
                {% if language == 'pl' %}{% else %}statistics{% endif %}
            </h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <table class="container mt-3">
        <tr>
            <td class="td-25"></td>
            <td><strong>{% if language == 'pl' %}Dołączył{% else %}Joined{% endif %}:</strong></td>
            <td class="td-right">{{ user_create_date }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="td-25" rowspan="2"><h3>{% if language == 'pl' %}Posty{% else %}Posts{% endif %}</h3></td>
            <td><strong>{% if language == 'pl' %}Liczba postów{% else %}Number of posts{% endif %}:</strong></td>
            <td class="td-right">{{ posts_count }}</td>
        </tr>
        <tr>
            <td><strong>{% if language == 'pl' %}Postów dziennie{% else %}Posts per day{% endif %}:</strong></td>
            <td class="td-right">{{ posts_per_day }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="td-25" rowspan="2"><h3>{% if language == 'pl' %}Komentarze{% else %}Comments{% endif %}</h3></td>
            <td><strong>{% if language == 'pl' %}Liczba komentarzy{% else %}Number of comments{% endif %}:</strong></td>
            <td class="td-right">{{ comments_count }}</td>
        </tr>
        <tr>
            <td><strong>{% if language == 'pl' %}Komentarzy dziennie{% else %}Comments per day{% endif %}:</strong></td>
            <td class="td-right">{{ comments_per_day }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="td-25" rowspan="2"><h3>{% if language == 'pl' %}Słowa{% else %}Words{% endif %}</h3></td>
            <td><strong>{% if language == 'pl' %}Liczba słów{% else %}Number of words{% endif %}:</strong></td>
            <td class="td-right">{{ words_count }}</td>
        </tr>
        <tr>
            <td><strong>{% if language == 'pl' %}Słów na post/komentarz{% else %}Words per post/comment{% endif %}
                :</strong></td>
            <td class="td-right">{{ words_per_post_and_comment }}</td>
        </tr>
        <tr>
            <td class="td-25"></td>
            <td><strong>{% if language == 'pl' %}Słów dziennie{% else %}Words per day{% endif %}:</strong></td>
            <td class="td-right">{{ words_per_day }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="td-25" rowspan="2"><h3>{% if language == 'pl' %}Znaki{% else %}Characters{% endif %}</h3></td>
            <td><strong>{% if language == 'pl' %}Liczba znaków{% else %}Number of characters{% endif %}:</strong></td>
            <td class="td-right">{{ chars_count }}</td>
        </tr>
        <tr>
            <td><strong>{% if language == 'pl' %}Znaków na post/komentarz{% else %}Characters per
                post/comment{% endif %}:</strong></td>
            <td class="td-right">{{ chars_per_post_and_comment }}</td>
        </tr>
        <tr>
            <td class="td-25"></td>
            <td><strong>{% if language == 'pl' %}Znaków dziennie{% else %}Characters per day{% endif %}:</strong></td>
            <td class="td-right">{{ chars_per_day }}</td>
        </tr>
    </table>
{% endblock %}


