{% extends 'base.html' %}

{% block header %}
    <div class="col-11 ">
        <div class="row justify-content-center">
            <h2>{% block title %}{% if language == 'pl' %}Logowanie{% else %}Log in{% endif %}{% endblock %}</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form class="form-group" method="post">
        {% csrf_token %}
        <div class="row align-items-center mt-3">
            <div class="col-2"></div>
            <div class="col-2">
                <div class="row justify-content-end">
                    <label for="username"><b>{% if language == 'pl' %}Login{% else %}Login{% endif %}</b></label>
                </div>
            </div>
            <div class="col-4">
                <input
                        name="username"
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="{% if language == 'pl' %}Wprowadź login{% else %}Enter login{% endif %}"
                        required
                >
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col-2">
                <div class="row justify-content-end">
                    <label for="password"><b>{% if language == 'pl' %}Hasło{% else %}Password{% endif %}</b></label>
                </div>
            </div>
            <div class="col-4">
                <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="{% if language == 'pl' %}Wprowadź hasło{% else %}Enter password{% endif %}"
                        required
                >
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row align-items-center mt-1">
            <div class="col-4"></div>
            <div class="col-4">
                <input type="submit" class="btn btn-outline-primary btn-sm"
                       value="{% if language == 'pl' %}zaloguj{% else %}log in{% endif %}">
            </div>
            <div class="col-4"></div>
        </div>
    </form>
{% endblock %}